.product {
  width: 350px !important;
  height: 200px !important;
  border: 1px solid #eee;
  position: relative;
  cursor: pointer;
  margin: 10px 10px !important;
  -webkit-box-shadow: 0px 4px 5px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 4px 5px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 4px 5px 1px rgba(0, 0, 0, 0.15);
  filter: drop-shadow(0px 4px 4px rgba(184, 110, 0, 0.35));
  margin-bottom: 20px !important;
}
.productStore {
  width: 170px !important;
  height: 100% !important;
  border: 1px solid #eee;
  position: relative;
  margin: auto !important;
  -webkit-box-shadow: 0px 4px 5px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 4px 5px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 4px 5px 1px rgba(0, 0, 0, 0.15);
}

.duration h6 {
  margin-bottom: -7px !important;
  font-weight: 600 !important;
  font-size: 13px;
  margin-top: 2px !important;
}
.duration p {
  font-weight: 100;
}
.duration {
  color: black;
  width: 60px;
  position: absolute;
  height: 30px;
  right: 0px;
  bottom: 78px;
  font-weight: bold;
  font-size: 13px;
  background: white;
  filter: drop-shadow(0px 4px 4px rgba(184, 110, 0, 0.35));
  text-align: center;
  border-radius: 5px;
  margin-right: 10px !important;
}

.price {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
}
.open {
  background: #ded;
  color: #56ac55;
  text-align: center;
  border-radius: 5px;
  margin-right: 10px !important;
  padding: 3px 5px !important;
  height: 25px !important;
  margin-bottom: 10px !important;
}
.details h5 {
  font-size: 1.2rem;
  margin-left: 0px !important;
  font-weight: 400;
}
.details .row {
  align-items: center !important;
  display: flex;
}
.details {
  font-size: 13px !important;
}
.eyeicon img {
  display: flex;
  position: absolute;
  right: 0px;
  background: rgba(0, 0, 0, 0.15) !important;
  height: 18px !important;
  width: 20px !important;
}
.productImage {
  width: 210px;
  height: 120px;
  padding: 0px !important;
  margin: 0px !important;
  border-radius: 5px 5px 0px 0px;
}

.details img {
  width: 20px !important;
  margin: 2px 5px !important;
}

.arrowIcon img {
  width: 50px;
  height: 15px;
}

.categoryname {
  height: 25px;
}

.category {
  padding-left: 15px !important;
  padding-right: 15px !important;
  margin-right: auto !important;
  margin-left: -15px !important;
  position: relative;
}

.overflowWrapper svg {
  top: 45% !important;
  width: 30px !important;
  background: black;
  border-radius: 50%;
  height: 30px !important;
}

.details button {
  width: 100%;
  border-radius: 0px;
}
