.product {
  max-width: 250px;
  max-height: 140px;
  border: 1px solid #eee;
  position: relative;
  cursor: pointer;
  width: 40%;
  height: 130px;
  margin: 20px 10px;
  filter: drop-shadow(0px 4px 4px rgba(184, 110, 0, 0.35));
  margin-bottom: 40px;
}

.categorycontent {
  display: flex;
  width: 100%;
  overflow: auto;
  height: 280px;
}
.productStore {
  width: 170px;
  height: 100%;
  border: 1px solid #eee;
  position: relative;
  margin: auto;
  box-shadow: 0px 4px 5px 1px rgba(0, 0, 0, 0.15);
}

.row1 {
  align-items: center;
  justify-content: space-between;
  display: flex;
  margin: 10px 0px;
}

.row1,
.productDetails {
  padding-right: 10px;
}

.details h5,
.details h3,
.productDetails p {
  margin: 0px;
}

.details h5,
.details h3 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #3e4044;
}

.productDetails {
  display: flex;
  justify-content: space-between;
  margin: 4px 0px 8px 0px;
}

.duration h6 {
  margin-bottom: -7px;
  font-weight: 600;
  font-size: 13px;
  margin-top: 2px;
}
.duration p {
  font-weight: 100;
}
.duration {
  color: black;
  width: 55px;
  position: absolute;
  height: 30px;
  right: 0px;
  display: none;
  bottom: 76px;
  border: none;
  font-weight: bold;
  font-size: 13px;
  background: white;
  text-align: center;
  border-radius: 5px;
  margin-right: 10px;
}

.price {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
}
.open {
  background: #ded;
  color: #56ac55;
  text-align: center;
  border-radius: 5px;
  margin-right: 10px;
  padding: 3px 5px;
  height: 25px;
  margin-bottom: 10px;
}
.details h5 {
  font-size: 1rem;
  margin-left: 0px;
  font-weight: 400;
}
.details .row {
  align-items: center;
  display: flex;
}
.details {
  font-size: 13px;
  background: white;
  border: none;
  padding: 0px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}
.content {
  padding: 0px 0px 0px 8px;
}
.eyeicon img {
  display: flex;
  position: absolute;
  right: 0px;
  background: rgba(0, 0, 0, 0.15);
  height: 18px;
  width: 20px;
}
.productImage {
  width: 210px;
  height: 120px;
  padding: 0px;
  margin: 0px;
  border-radius: 5px 5px 0px 0px;
}

.details img {
  width: 20px;
  margin: 2px 5px;
}

.arrowIcon svg {
  color: #ffb647;
}

.categoryname {
  height: 25px;
}

.categoryname h5 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  margin-left: 10px;
  color: #3e4044;
}

.category {
  padding-left: 0px;
  padding-right: 0px;
  margin: auto;
  position: relative;
}

.overflowWrapper {
  width: 100%;
}

.overflowWrapper svg {
  top: 45%;
  width: 30px;
  background: black;
  border-radius: 50%;
  height: 30px;
}

.details button {
  width: 100%;
  border-radius: 0px;
}

.vendor {
  display: flex;
  align-items: center;
}

.vendor p {
  margin: 0px;
}

/* deals category */
@media (max-width: 768px) {
  .dealsCategory .details {
    font-size: 12px;
  }

  .dealsCategory .vendor p {
    margin: 2px 0px;
  }

  .dealsCategory .category button {
    font-size: 15px;
  }

  .dealsCategory .category {
    margin-top: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    margin-bottom: 80px;
  }
  .dealsCategory .product {
    width: 100%;
    margin: 20px 0px;
  }
  .dealsCategory .product img.productImage {
    width: 100%;
  }
}
