.container {
  background: #f29100;
  height: 100vh !important;
  position: relative;
}

.logo {
  display: flex;
  justify-content: center;
}

.logo img {
  height: 500px !important;
  margin-top: 20%;
}

.locationmodal {
  top: 40px !important;
  margin-top: 40px !important;
  width: 80% !important;
  left: 10% !important;
  padding: 5px 10px !important;
}

.modaltitle {
  font-size: 14px !important;
  padding: 5px 10px !important;
}

.modalbody p {
  font-size: 12px !important;
  padding: 10px !important;
}

.modalButton {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px !important;
  border: none;
}

.modalButton a {
  text-decoration: none;
}

.header img {
  width: 100%;
  height: 75%;
}

.header svg {
  color: #f29100 !important;
}
.heart svg {
  color: #d12e2e !important;
}

.header {
  border-bottom: 1px solid #eee;
}

.locationmodal .fade.modal-backdrop.show {
  opacity: 0.15 !important;
}

.backdrop {
  opacity: 0.15 !important;
}

.productImg {
  width: 100%;
}

.productDetail li h4 {
  font-size: 1em;
}

.productDetail li p {
  font-size: 1em !important;
  margin-top: -1;
  margin-top: -10px !important;
}

.modalButton a {
  background: #f29100;
  width: 100%;
  color: white;
  height: 40px;
  justify-content: center;
  display: flex;
  align-items: center;
  border: none;
  margin: 15px auto;
}

.productDetail li.d-flex.justify-content-between.my-2 p:nth-child(2) {
  color: orange !important;
}

.productDetail {
  padding: 0px 20px !important;
}

.productIcon i {
  color: #ffb647;
}

.modalHeader button {
  font-size: 2em;
  right: 0px;
  position: absolute;
}

@media (max-width: 768px) {
  .logo img {
    width: 100% !important;
    margin-top: 25% !important;
  }
  .nav {
    display: none;
  }
  .typewriter {
    margin-top: -10px !important;
    margin-bottom: 20px !important;
    font-weight: bold;
    color: red;
    font-style: italics;
  }
}
