/* .content {
  margin-bottom: 80px !important;
} */

@media (min-width: 600px) {
  .header {
    display: none !important;
  }
  .footer {
    display: none !important;
  }
}

/* searchform */

.Searchform {
  height: 50px;
  background-color: #ffce85;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.inputText,
.formControl {
  border: none;
  background: #faf5ed;
}

.inputText svg {
  color: #ffce85;
}

.formControl:focus {
    outline: none;
    border: none;
    box-shadow: none;
}