.searchform {
  margin-left: 10% !important;
  width: 100%;
  background-color: #faf5ed !important;
}
.searchIcon {
  width: 30px;
  height: 30px;
  background-color: #faf5ed !important;
}
.filterIcon {
  width: 30px;
  height: 30px;
  margin-left: 35px !important;
  margin-top: 5px !important;
}

.inputprepend{
  background-color: #faf5ed !important;
  border: 0px !important;
}
.inputprepend span{
  background-color: #faf5ed !important;
  border: 0px !important;
}

.searchform input::placeholder {
  padding-left: 10px !important;
  color: #ffce85;
  font-family: Roboto;
  background-color: #faf5ed !important;
  font-weight: 400;
}
