.product {
  color: black;
}
.duration {
  color: black;
}
.details {
  color: black;
}
.eyeicon img {
  width: 20px;
  height: 20px;
  display: flex;
  float: right;
}
.productImage {
  color: black;
}

.arrowIcon img {
  width: 50px;
  height: 15px;
}

.categoryname {
  height: 25px;
}

.category {
  padding-left: 15px !important;
  padding-right: 15px !important;
  margin-right: auto !important;
  margin-left: auto !important;
}
